/* REGOLE GENERALI */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family:"Montserrat", sans-serif;
}

li {
    list-style: none;

} 

a  {
    text-decoration: none;
}

/* REGOLE COLONNA NAV */
.container-main {
    height: calc(100vh - 70px);
    display: flex;

}

.nav-column {
    width: 150px;
    height: calc(100%-70px);
    background-color: rgb(13, 12, 12);
    overflow: hidden;
}

/* CONTENUTO COLONNA NAV */
.nav-contain {
    margin: 15px 0px;
}

.logo img {
    width:100px;
    margin-bottom: 20px;
    margin-left: 10px;
   
}

/* nav list icon */
.icon-link li a {
    font-size: 13px;
    padding-left: 15px;
    color: gray;
    margin-bottom: 10px;
    

}

.icon-link li {
    margin-bottom: 10px;
}

.icon-link li a:hover {
    color: white;
}

.icon-link span {
    margin-left: 7px;
    
    
}

.create:hover {
    color: white;

}

.icon-link .evidenza {
    color: white;
    border-left: 2px solid yellow;

}

/* crea playlist */
.crea-playlist {
    margin-left: 15px;
    

}

.crea-playlist h4 {
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 10px;
}

.crea {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    padding: 5px 12px;

}

.crea:hover {
    background-color: white;
}

.playlist {
    font-size: 12px;
    color: gray;
    margin-left: 5px;

}

.playlist .link-title:hover {
    color: white;
}

.nome {
    margin-bottom: 100px;
}

.nome li {
    color: gray;
    font-size: 8px;
    margin-top: 10px;
}

.nome li:hover {
    color: white;
}

 /* info colonna nav */
.info-nav {
    width: 90%;
    color: grey;
    font-size: 8px;
    margin-right: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.info-nav:hover {
    color: white;
}

 .info-nav i {
    margin-right: 5px;
    border: 2px solid gray;
    padding: 1px 2px;
    border-radius: 50%;
 }

 .user {
    color: white;
    font-size: 10px;
    background-color: rgb(113, 111, 111);
    padding: 2px 4px;
    border-radius: 50%;
 }

 .user-name {
    color: white;
    font-size: 10px;
    margin-left: 5px;
    font-weight: bold;
 }



/* REGOLE CONTENUTO PRINCIPALE */
.contenuto-principale {
    width: calc(100% - 150px);
    overflow: auto;
    background-color: rgb(31, 31, 47);
   
}

/* BARRA FIX MAIN */
.barra-fix {
    height: 80px;
    width: calc(100% - 150px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: end;
    z-index: 3;

}

.upgrade a {
    color: white;
    font-size: 13px;
    margin-right: 40px;
    vertical-align: middle;
    line-height: 80px;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 9999px;
    text-decoration: none;
    
}

.upgrade a:hover {
    font-size: 15px;
    padding: 7px 22px;
}




/* nav main principale */
.link-title {
    width: 80%;
    margin: 0% auto;
    

}

.link-title ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.link-title ul li a {
    font-weight: bold;
    color: gray;
    font-size: 10px;
    
}

.link-title ul li a:hover {
    color: white;
}


.playlist {
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
}



.playlist li {
    list-style: none;
}

.playlist li a {
    text-decoration: none;
}

.evidenza-main {
    padding-bottom: 2px;
    border-bottom: 2px solid yellow;
}

/* titolo e playlist */
.playlist h3 {
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.card {
    width: 15%;
    position: relative;
    
}

.card img {
    max-width: 100%;

}

.card:hover .contenuto-hover {
    display: block;
   

}

.card .contenuto-hover {
    position: absolute;
    top: 30%;
    left: 35%;
    color: white;
    font-size: 40px;
    display: none;

}

.card img:hover {
    background-color: black; opacity: 0.3;
}

.nome-card {
    text-align: center;
    margin-top: 8px;
}

.titolo-playlist {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.subtitle {
    font-size: 10px;
}

/* creato per john doe */
.john-doe {
    display: flex;
    gap: 10px;

}


/* artisti più popolari */
.popolari {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.popolari .card img {
    border-radius: 50%;
}




/* REGOLE FOOTER */
footer {
    z-index: 3;
}
.play-footer {
    height: 70px;
    width: 100%;
    background-color: rgb(41, 38, 38);
}

.container-play {
    height: 100%;
    margin: 0 5px;
    display: flex;
}

/* sezione brano */

.brano {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.sinister {
    width: 30%;
 
    
}

.sinister img {
    max-width: 100%;
}

.titolo-play {
    max-width: 50%;
    margin: 0 5px;

}

.titolo-play :last-child {
    font-size: 8px;
    color: gray;
}

.titolo-play :last-child:hover {
    color: white;
    border-bottom: 1px solid white;
}

.titolo-play .film-title {
    font-size: 12px;
    color: white;
}

.cartella {
    max-width: 20%;
    color: grey;
    font-size: 15px;
    margin-left: 10px;
    
}

.fa-heart:hover {
    color: white;
}

.fa-folder:hover {
    color: white;
}

.cartella i {
    margin: 2px;
}

/* control di ascolto */
.ascolto-barra {
    width: 70%;
    display: flex;
    justify-content: center;
    
}

.time {
    font-size: 10px;
    color: white;
    margin-top: 50px;
    width: 5%;
}

.tempo-trascorso {
    text-align: start;
}

.tempo-rimanente {
    text-align: end;
}


.play-barra {
    max-width: 90%;
    

}
.barra-container {
    text-align: center;

}

.barra-container i {
    color: white;
    font-size: 12px;
    padding: 7px 20px;
    
}

.barra-container .fa-regular {
    font-size: 25px;
}

.barra-container .fa-regular:hover {
    font-size: 26px;
}


.simbol-control {
    margin: 8px;
    
    
}


.ball {
    font-size: 5px;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.tempo-barra {
    margin-top: 10px;
    width: 100%;
    display: flex;

}



/* control audio */
.audio-barra {
    width: 15%;
    display: flex;
    align-items: center;
    
    
}

.audio-icon {
    color: white;
    font-size: 12px;
    width: 40%;
   

}

.audio-icon i {
    padding: 5px;
}


.line-active {
    flex: 0.5;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 30%;

}


.border {
    flex: 1;
    border-bottom: 2px solid gray;
    width: 30%;
}






/* RESPONSIVE */

/* TABLET */
@media screen and (max-width: 768px) {

    /* nav main  */
    .link-title {
        width: 90%;
   
    }

    .link-title ul li a {
        font-size: 8px;
        
    }

    /* card immagini */
    .nome-card {
        font-size: 0.5rem;
    }

    .card {
        width: 20%;
    }

   

    
}

/* MOBILE */
@media screen and (max-width:568px) {

    /* contenuto principale main */
    .contenuto-principale {
        width: calc(100% - 45px);
    
    }

    /* BARRA FIX MAIN */
    .barra-fix {
    width: calc(100% - 45px);


    }

    
    /* nav column */
    .nav-column {
        width: 45px;

    }

    .text-plus {
        display: none;
    }

    .icon-link .evidenza {
        border-left: none;
    
    }

    /* brano */
    .cartella {
        max-width: 50%;
        
        
    }
    .titolo-play {
        
        margin: 0;
    
    }

    /* nav main  */
    .link-title {
        width: 100%;
   
    }

    /* card immagini */
    .card {
        width: 45%;
    }
   
    
    
}


